version: '3'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    image: tab
    container_name: tab
    restart: unless-stopped
    dns: 
      - 172.16.19.4
      - 10.105.19.5
    dns_search:
      - taboolasyndication.com
    ports:
      - "443:80"
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
